/app/release/
/app/src/androidTest/java/ru/anbn/mhz/ExampleInstrumentedTest.java
/app/src/main/res/xml/
/build.gradle
/app/build.gradle
/gradle/wrapper/gradle-wrapper.properties
/app/proguard-rules.pro
/gradle.properties
/settings.gradle
/local.properties
/app/src/main/res/mipmap-hdpi/
/app/src/main/res/mipmap-xxhdpi/
/app/src/debug/res/mipmap-hdpi/
/app/src/main/res/mipmap-mdpi/
/app/src/debug/res/mipmap-xhdpi/
/app/src/main/res/mipmap-xxxhdpi/
/app/src/debug/res/mipmap-mdpi/
/app/src/debug/res/mipmap-xxhdpi/
/app/src/main/res/mipmap-xhdpi/
/app/src/main/res/mipmap-anydpi-v26/
/app/src/debug/res/mipmap-anydpi-v26/
/app/src/debug/res/mipmap-xxxhdpi/
/.idea/
/.gradle/
/Different_files/
/gradle/wrapper/
/gradlew
/gradlew.bat
/readme.txt
/app/src/debug/
/app/src/main/assets/
/app/src/main/res/assets/
/app/src/main/res/raw/
/app/src/main/ic_launcher-playstore.png
/app/src/main/java/ru/anbn/mhz/StaticVariables.java